<div class="container">
  <div class="container">
    <div class="row">
      <header>
        <div class="col-md-3">
          <h3>IntroVault</h3>
        </div>
      </header>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div data-side-tabs></div>
      <div data-ng-show="activeSidetab === 'Progress'" data-progress></div>
      <div data-ng-show="activeSidetab === 'Tracker'" data-tracker></div>
      <div data-ng-show="activeSidetab === 'Goals'" data-goals></div>
      <div data-ng-show="activeSidetab === 'Exercises'" data-exercises></div>
    </div>
  </div>
</div>
