<div class="app-container">
	<header>
		<!-- <ul class="nav nav-pills pull-right">
			<li class="active"><a href="">Hello</a></li>
		</ul> -->
		<div>
			<h3 class="text-muted">IntroVault</h3>
		</div>
	</header>
	<ul id="sidetabs" class="nav nav-tabs nav-stacked">
		<!-- <li class="sidebar-{{tab.text.toLowerCase()}}"></li>[ng-repeat="tab in sideTabs"] -->
		<li class="active"><a href="">Progress</a></li>
		<li><a href="">Tracker</a></li>
		<li><a href="">Goals</a></li>
		<li><a href="">Exercises</a></li>
	</ul>
</div>
