.tracker-container {
	background: $white;
	padding: 20px 10px;
	@include border-top-radius($borderRadius);
	@include border-bottom-radius($borderRadius);
	.tracker-submit {
		margin-top: 10px;
	}
	.add-workout-btn {
		margin-bottom: 10px;
	}
}