#sidetabs {
  $borderColor: #dae2e6;
  $liHeight: 50px;
  width: $sideContainerWidth;
  position: absolute;
  background: $darkBlueLight;
  border-radius: 5px;
  ul {
    margin: 0 10px 0 9px;
  }
  li {
    height: $liHeight;
    border-bottom: 1px solid $borderColor;
    position: relative;
    a {
      background: transparent;
      border: none;
      display: block;
      height: $liHeight;
      width: 100%;
      color: $white;
    }
    &:first-child {
      border-top: 1px solid $borderColor;
    }
    &:hover {
      background: $darkBlueMed;
      @include gradient-vertical($darkBlueMed, $darkBlueLight, 0%, 60%);
    }
    &:last-child {
      border-bottom: 0;
    }
    &.active {
      height: $liHeight +1;
      border-top: 0;
      a {
        background: $darkBlue;
        width: $sideContainerWidth;
        height: $liHeight +1;
        @include gradient-vertical($darkBlue, $darkBlueMed, 0%, 60%);
      }
    }
  }
}