<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form action="">
				<label for="emailInput">Email</label>
				<input type="text" class="form-control"
				data-ng-model="credentials.username">
				<label for="passwordInput">Password</label>
				<input type="password" class="form-control"
				data-ng-model="credentials.password">
				<button class="btn btn-primary"
				data-ng-click="signIn()">Sign In</button>
				<button class="btn btn-primary"
				data-ng-click="logout()">Logout</button>
			</form>
		</div>
	</div>
</div>