<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">IntroVault</h3>
</div>

<div class="jumbotron">
	<h1>IntroVault!</h1>
	<p class="lead">The best way to progress physically</p>
	<p><a class="btn btn-lg btn-success" href="#">Sign Up</a></p>
</div>

<ul class="list-group">
	<li class="list-group-item" data-ng-repeat="thing in awesomeThings">{{thing}}</li>
</ul>

<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>