<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Login</a></li>
	</ul>
	<h3 class="text-muted">IntroVault</h3>
</div>

<div class="jumbotron">
	<h1>IntroVault!</h1>
	<p>Progressive calisthenics training is very simple, the only equipment needed usually is your body.</p>
	<p>You will be able to track your progress with this helpful app.</p>
	<p><a class="btn btn-lg btn-success" href="#">Sign Up</a></p>
</div>

<div class="footer">
	<p>IntroVault is cool!</p>
</div>